[Unit]
Description=MC Server Node Wrapper Service
After=network.target

[Service]
RestartSec=1
User=root
ExecStart=/bin/node /home/ec2-user/autostack-scripts/mineShell.js
KillMode=process
